# -- Markup --
# These settings are required for the theme to function.

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

  [markup.highlight]
    noClasses = false

  [markup.tableOfContents]
    startLevel = 2
    endLevel = 4
