<article class="bg-[#2D2C36] border border-neutral-700 rounded-xl overflow-hidden mb-5 mr-5 flex flex-col">
  <!-- Image Thumbnail -->
  {{ with .Resources.GetMatch .Params.featureimage }}
  <div class="w-full h-48 overflow-hidden rounded-t-xl border border-neutral-800">
      <img 
        src="{{ .RelPermalink }}" 
        alt="{{ $.Title }}" 
        class="w-full h-full object-cover hover:scale-105 transition-transform duration-300 ease-in-out"
        loading="lazy"
      />
    </div>
  {{ end }}

  <!-- Content -->
  <div class="p-4 flex flex-col grow">
    <h2 class="text-lg font-bold leading-snug mb-2 text-[#F5F4F1] hover:underline">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <p class="text-sm text-neutral-300 mb-4">{{ .Params.Summary }}</p>
    
    <div class="mt-auto text-xs text-neutral-400 flex justify-between items-center">
      <span>{{ .Date.Format "Jan 2, 2006" }}</span>
      <span>&bull;</span>
      <span>{{ .ReadingTime }} min read</span>
    </div>
  </div>
</article>


