{{ define "main" }}

<section class="mt-12 mb-6 px-4 sm:px-6 md:px-8 lg:px-12">
  <h1 class="text-4xl font-extrabold text-neutral-900 dark:text-neutral mb-0 !mb-0">Recent Posts</h1>
  <hr class="mt-3 border-t border-secondary-500 w-full mb-6 thicc">
</section>

<section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3 px-4 sm:px-6 md:px-8 lg:px-12">
  {{ $pages := .Pages }}
  {{ if .IsHome }}
    {{ $pages = where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ end }}
  {{ range $pages }}
    {{ partial "article-link/card.html" . }}
  {{ end }}
</section>

<hr class="mt-10 mb-0  border-neutral-700 dark:border-neutral-600 thicc">
{{ end }}