{{ define "head" }}
  <style>
    .recent-grid {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 2rem;
    }
    @media (min-width: 640px) {
      .recent-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
    @media (min-width: 1024px) {
      .recent-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  </style>
{{ end }}

{{ define "main" }}
<main class="main-content">
  <div>
    <h1 class="mt-8 text-4xl font-extrabold mr-5 tag-spef">
      latest<span class="bash-suffix">@logphile:~$</span><span class="cursor-blink">█</span>
    </h1>
  </div>

  {{ partial "breadcrumbs.html" . }}

  {{ if eq .Kind "taxonomyTerm" }}
    <h1 class="text-4xl font-extrabold text-primary-500 mb-4 border-b-4 border-pink-600 inline-block pb-2">
      #{{ .Title }}
    </h1>
  {{ end }}

  {{ $paginator := .Paginate .Pages }}

  <section class="recent-grid px-8">
    {{ range $paginator.Pages }}
      {{ partial "card.html" . }}
    {{ end }}
  </section>

  {{ partial "pagination.html" (dict "Paginator" $paginator "Context" .) }}
</main>
{{ end }}
