:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     245,245,245;
--color-neutral-100:    207,208,206;
--color-neutral-200:    169,170,167;
--color-neutral-300:    131,133,128;
--color-neutral-400:    92,94,91;
--color-neutral-500:    54,55,53;
--color-neutral-600:    34,34,33;
--color-neutral-700:    13,13,13;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,255,255;
--color-primary-400:    255,255,255;
--color-primary-500:    244,237,233;
--color-primary-600:    230,215,206;
--color-primary-700:    217,192,179;
--color-primary-800:    203,170,151;
--color-primary-900:    190,148,124;
--color-secondary-50:     255,255,255;
--color-secondary-100:    227,255,250;
--color-secondary-200:    150,255,238;
--color-secondary-300:    74,255,225;
--color-secondary-400:    0,252,211;
--color-secondary-500:    0,176,147;
--color-secondary-600:    0,135,113;
--color-secondary-700:    0,94,79;
--color-secondary-800:    0,54,45;
--color-secondary-900:    0,13,11;
}