{{ define "main" }}
<div class="mt-8">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
         
      <p class="pronounce">log·phile <span class="pronounce-phonetic">[lawg-fahyl]</span></p>
    </div>
    <div class="flip-card-back">
      <p>A log file is a system’s memory, a structured record of events. — line by line, it records every process, every ghost in the machine. Usually ignored, until it’s the only voice left that knows what went wrong.</p>
    </div>
  </div>
</div>
</div>

<article class="prose dark:prose-invert max-w-7xl mx-auto mt-8 px-4 py-10 rounded-xl shadow-lg about-wrapper">

  <header class="mb-8">    
      <h1 class="text-4xl font-extrabold mt-3 mb-3 !mb-3" style="color: #FFD808">about<span class="about-logphile">@logphile:~$</h1></span>
  </header>
  {{ .Content }}
  
</article>

{{ end }}