{{ define "main" }}
<main class="w-full max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 mt-10 flex flex-col lg:flex-row gap-8">

  <!-- Blog Posts Column -->
  <section class="w-full lg:w-3/4">
    <h1 class="text-4xl font-extrabold mb-4 border-b-2 border-secondary-500 pb-1">Recent Posts</h1>
    {{ $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range $pages.ByDate.Reverse }}
      {{ partial "article-link.html" . }}
    {{ end }}
  </section>

  <!-- Sidebar Column -->
  <aside class="w-full lg:w-1/4 space-y-8">
    {{ partial "sidebar-social.html" . }}
    {{ partial "sidebar-tags.html" . }}
  </aside>

</main>
{{ end }}
