<head>
  <meta charset="utf-8" />
  {{ with .Site.Language.Params.htmlCode | default .Site.LanguageCode }}
  <meta http-equiv="content-language" content="{{ . }}" />
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {{/* Title */}}
  {{ $pageTitle := .Title | default .Site.Title }}
  <title>{{ $pageTitle }}</title>
  <meta name="title" content="{{ $pageTitle }}" />  
  {{/* Metadata */}}
  {{ with (.Params.Summary | default .Params.Description) | default .Site.Params.description -}}
  <meta name="description" content="{{ . }}" />
  {{- end }}
  {{ with  .Params.Tags | default .Site.Params.keywords -}}
  <meta name="keywords" content="{{ range . }}{{ . }}, {{ end -}}" />
  {{- end }}
  {{ with .Site.Params.robots }}
  <meta name="robots" content="{{ . }}" />
  {{ end }}
  {{ with .Params.robots }}
  <meta name="robots" content="{{ . }}" />
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ range .AlternativeOutputFormats -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink ($.Site.Title | emojify) |
  safeHTML }}
  {{ end -}}
  {{/* Asset bundles */}}
  {{ $assets := newScratch }}
  {{ $cssScheme := resources.Get (printf "css/%s.css" (.Site.Params.colorScheme | default "custom")) }}
  {{ if not $cssScheme }}
  {{ $cssScheme = resources.Get "css/custom.css" }}
  {{ end }}
  {{ $assets.Add "css" (slice $cssScheme) }}
  {{ $cssMain := resources.Get "css/compiled/main.css" }}
  {{ $assets.Add "css" (slice $cssMain) }}
  {{ $cssCustom := resources.Get "css/custom.css" }}
  {{ if $cssCustom }}
  {{ $assets.Add "css" (slice $cssCustom) }}
  {{ end }}
  {{ $bundleCSS := $assets.Get "css" | resources.Concat "css/main.bundle.css" | resources.Minify | resources.Fingerprint
  "sha512" }}
  <link type="text/css" rel="stylesheet" href="{{ $bundleCSS.RelPermalink }}"
    integrity="{{ $bundleCSS.Data.Integrity }}" />
  {{ $jsAppearance := resources.Get "js/appearance.js" }}
  {{ $jsAppearance = $jsAppearance | resources.ExecuteAsTemplate "js/appearance.js" . | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $jsAppearance.RelPermalink }}"
    integrity="{{ $jsAppearance.Data.Integrity }}"></script>
  {{ if .Site.Params.enableSearch | default false }}
  {{ $jsFuse := resources.Get "lib/fuse/fuse.min.js" }}
  {{ $jsSearch := resources.Get "js/search.js" }}
  {{ $assets.Add "js" (slice $jsFuse $jsSearch) }}
  {{ end }}
  {{ if .Site.Params.enableCodeCopy | default false }}
  {{ $jsCode := resources.Get "js/code.js" }}
  {{ $assets.Add "js" (slice $jsCode) }}
  {{ end }}
  {{ if .Site.Params.rtl | default false }}
  {{ $jsRTL := resources.Get "js/rtl.js" }}
  {{ $assets.Add "js" (slice $jsRTL) }}
  {{ end }}
  {{ $jsMobileMenu := resources.Get "js/mobilemenu.js" }}
  {{ $assets.Add "js" (slice $jsMobileMenu) }}
  {{ if $assets.Get "js" }}
  {{ $bundleJS := $assets.Get "js" | resources.Concat "js/main.bundle.js" | resources.Minify | resources.Fingerprint
  "sha512" }}
  <script defer type="text/javascript" id="script-bundle" src="{{ $bundleJS.RelPermalink }}"
    integrity="{{ $bundleJS.Data.Integrity }}" data-copy="{{ i18n " code.copy" }}" data-copied="{{ i18n " code.copied"
    }}"></script>
  {{ end }}
  {{ if not .Site.Params.disableImageZoom | default true }}
  {{ $zoomJS := resources.Get "lib/zoom/zoom.min.js" | resources.Fingerprint "sha512" }}
  <script src="{{ $zoomJS.RelPermalink }}" integrity="{{ $zoomJS.Data.Integrity }}"></script>
  {{ end }}
  {{/* Icons */}}
  {{ partial "favicons.html" .Site }}
  
  
  
  {{/* Site Verification */}}
  {{ with .Site.Params.verification.google }}
  <meta name="google-site-verification" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.verification.bing }}
  <meta name="msvalidate.01" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.verification.pinterest }}
  <meta name="p:domain_verify" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.verification.yandex }}
  <meta name="yandex-verification" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.verification.fediverse }}
  <meta name="fediverse:creator" content="{{ . }}" />
  {{ end }}
  {{ partial "gtm" . }}
  {{/* Social */}}
  
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{/* Schema */}}
  {{ partial "schema.html" . }}
  {{/* Me */}}
  {{ with .Site.Params.Author.name }}
  <meta name="Phil Boyce" content="{{ . }}" />{{ end }}
  {{ with .Site.Params.Author.links }}
  {{ range $links := . }}
  {{ range $name, $url := $links }}
  <link href="{{ $url }}" rel="me" />{{ end }}
  
  {{ end }}
  {{ end }}
  {{/* Vendor */}}
  {{ partial "vendor.html" . }}
  {{/* Analytics */}}
  {{/*{{- template "partials/cookie-consent.html" . }}*/}}
  {{ partial "analytics/main.html" .Site }}
  {{/* Extend head - eg. for custom analytics scripts, etc. */}}
  {{ if templates.Exists "partials/extend-head.html" }}
  {{ partialCached "extend-head.html" .Site }}
  {{ end }}
  <meta name="theme-color"/>
  
  <link id="favicon" rel="icon" href="/favicon-lp-on.svg" type="image/svg+xml" />

  <script>
    const favicon = document.getElementById("favicon");
    let isFocused = true;
    let cursorOn = true;
  
    const activeOn = "/favicon-lp-on.svg";
    const activeOff = "/favicon-lp-off.svg";
    const inactiveOn = "/favicon-lp-inactive-on.svg";
    const inactiveOff = "/favicon-lp-inactive-off.svg";
  
    function updateFavicon() {
      const icon = isFocused
        ? (cursorOn ? activeOn : activeOff)
        : (cursorOn ? inactiveOn : inactiveOff);
      favicon.href = icon;
      cursorOn = !cursorOn;
    }
  
    window.addEventListener("focus", () => { isFocused = true; });
    window.addEventListener("blur", () => { isFocused = false; });
  
    setInterval(updateFavicon, 500);
  </script> 

</head>
