  <div class="home-social-icons social-icons-grid mt-2">
    {{ with .Site.Params.Author.links }}
        {{ range $links := . }}
          {{ range $name, $url := $links }}
          <a
          href="{{ $url | safeURL }}"
          target="_blank"
          aria-label="{{ $name | title }}"
          rel="me noopener noreferrer"
          class="social-icon"
        >
          <span class="inline-block align-text-bottom">
            {{ partial "icon.html" $name }}
          </span>
        </a>        
          {{ end }}
        {{ end }}
    </div>
    {{ end }}
  </div>
